<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Form</title>
  </head>
  <body>
    <h3>Student Form</h3>
    <%= form_tag new_student_path do %>
      <%= text_field_tag :'student[first_name]'%>
    <% end %>
  </body>
</html>
